.ejemplo:before{
    content: ' ';
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: crimson;
}

.ejemplo:after {
    content: '';
    display: block;
    padding: 10px;
    position: absolute;
    width: 75px;
    height: 15px;
    border: 1px solid black;
}

