.card {
    padding: 5px;
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(138, 10, 80);
    text-align: center;
    border-radius: 5px;
    flex-wrap: wrap;
    font-size: 20px;
    list-style: "none";
    margin-bottom: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
}

.checkbox-style {
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    margin: 6px;
    width: 100%;
    padding: 21px;
    flex-wrap: wrap;
    justify-content: space-between;
}
