body {
  margin: 0; }

.dimension {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dimension.contenedor-2 {
    background-color: orange; }
  .dimension.contenedor-1 {
    background-color: red; }
  .dimension .cajita {
    height: 100px;
    width: 50%;
    border-radius: 5px;
    background-color: greenyellow; }

.fuente {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  text-align: center; }
