.page1{
    display:flex;
    color: #E36397;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:10px;
    margin-top: 80px;
    width: 50%;
    box-sizing: border-box;
    margin-left: 400px;
}
h2{
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
}